[workspace]
channels = ["conda-forge"]
platforms = ["osx-arm64"]

[tasks]
lint = "ruff check ."
format = "ruff format ."
ingest = "python src/data_ingestion.py"

[dependencies]
python = ">=3.12"
google-genai = ">=1.49.0,<2"
gitpython = ">=3.1.45,<4"
sphinx = ">=8.2.3,<9"
sphinx_rtd_theme = ">=3.0.2,<4"
sphinxcontrib-bibtex = ">=2.6.5,<3"
nbsphinx = ">=0.9.7,<0.10"
pybtex = ">=0.25.1,<0.26"
ruff = ">=0.4.4,<0.5"

[pypi-dependencies]
ag2 = { version = "*", extras = ["gemini", "mcp"] }
sentence-transformers = ">=2.7.0"
langchain-community = ">=0.4.1, <0.5"
langchain-chroma = ">=1.0.0, <2"
langchain-huggingface = ">=1.0.1, <2"
langchain-text-splitters = ">=1.0.0, <2"
google-generativeai = ">=0.8.5, <0.9"
