[workspace]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64"]

[tasks]
install = "pip install -e ."
start-backend = "PYTHONPATH=src uvicorn tomobait.app:api --reload --port 8001"
start-frontend = "PYTHONPATH=src python -m tomobait.frontend"
run-cli = "PYTHONPATH=src python src/tomobait/cli.py"
lint = "ruff check ."
format = "ruff format ."
ingest = "PYTHONPATH=src python -m tomobait.data_ingestion"

[dependencies]
python = ">=3.12,<3.13"
google-genai = ">=1.49.0,<2"
gitpython = ">=3.1.45,<4"
sphinx = ">=8.2.3,<9"
sphinx_rtd_theme = ">=3.0.2,<4"
sphinxcontrib-bibtex = ">=2.6.5,<3"
nbsphinx = ">=0.9.7,<0.10"
pybtex = ">=0.25.1,<0.26"
ruff = "*"
pyyaml = "*"

[pypi-dependencies]
ag2 = { version = "*", extras = ["gemini", "mcp"] }
sentence-transformers = ">=2.7.0"
langchain-community = ">=0.4.1, <0.5"
langchain-chroma = ">=1.0.0, <2"
langchain-huggingface = ">=1.0.1, <2"
langchain-text-splitters = ">=1.0.0, <2"
google-generativeai = ">=0.8.5, <0.9"
fastapi = "*"
uvicorn = ">=0.29.0, <0.30"
gradio = "*"
requests = "*"
pyyaml = "*"
watchdog = "*"
